<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YuejianSports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844C20561ECA9CC4001BB33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C206F1ECA9CC5001BB33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844C207A1ECA9CC5001BB33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
